body {
	background: #697;
}

.navbar-header {
	float: left;
	text-align: center;
}

.navbar-brand {
	float: none;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 65px;
	background-color: #222;
	padding-top: 15px;
}

.row {
	text-align: center;
}

.myPanel {
	padding-top: 100px;
}

.myIntro {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -(400/2) px;
	margin-top: -(400/2) px;
}

.dropdown-menu .sub-menu {
	position: absolute;
	top: 0;
	visibility: hidden;
	margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
	visibility: visible;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.line-separator {
	height: 1px;
	background: #717171;
	border-bottom: 1px solid #313030;
}

#myTableContent:hover{
	background-color: #eec;
}